/* CSS Reset */
* {
    margin: 0;
    padding: 0;
}

/* Page background */
.background {
    background-color: black;
}

/* Icons */
.icon {
    height: 30px;
}

/* Form input */
.input {
    background-color: rgba(18, 18, 18, 1);
    color: rgba(255, 255, 255, 1);
    border-radius: 15px;
    border:2px solid rgba(48, 48, 48, 1);
    width: 100%;
}

/* Navbar list items */
.list {
    list-style-type: none;
    margin: 0 1.1rem;
}

.mic {
    border: 2px solid rgba(48, 48, 48, 1);
    border-radius: 50px;
    padding: 5px;
}