/* CSS Reset */
* {
    margin: 0;
    padding: 0;
}

/* Wraps the HTML body for
hidding mobile overflow */
/* #body-wrapper {
    overflow-x: hidden;
} */


/* Page background */
.background {
    background-color: rgba(15, 15, 15, 1);
}

/* Hamburger bars */
#hamburger {
    width: 45px;
    padding: 12px;
    border-radius: 50%;
}

/* Hamburger bars effect */
#hamburger:hover {
    background-color: rgba(39, 39, 39, 1);
}

/* Main logo icon */
.main-logo-icon {
    height: 35px;
}

/* Column navbar Home default backgorund */
.home-bg {
    background-color: rgba(39, 39, 39, 1);
    border-radius: 10px;
}

/* Navbar search form */
input.search-form {
    height: 35px;
    width: 100%;
    padding: 15px;
    background-color: rgba(19, 19, 19, 1);
    border: 2px solid rgba(48, 48, 48, 1);
    border-radius: 15px;
    /* Add color for the font */
}

/* Microphone icon */
#microphone {
    height: 37px;
    padding: 8px;
    border-radius: 50%;
    background-color: rgba(39, 39, 39, 1);
}

/* Microphone icon effect */
#microphone:hover {
    background-color: rgba(48, 48, 48, 1);
}

/* Magnifying glass link */
#magnifying-glass-link {
    display: none;
}

/* Video camera effect */
#video-camera:hover {
    background-color: rgba(48, 48, 48, 1);
}

/* Navbar icons */
.nav-icon {
    height: 40px;
    padding: 6px;
    border-radius: 50%;
}

/* Notification bell */
#notification-bell {
    margin-left: 10px;
}

/* Notification bell hover */
#notification-bell:hover {
    background-color: rgba(48, 48, 48, 1);
}

/* User profile icon */
#user-profile-icon {
    margin-left: 10px;
}

/* Microphone pop up div */
#microphone-popup-div {
    position: absolute; /* Position relative to parent */
    z-index: 999; /* Ensure high stacking order */
    top: 68px;
    left: 62.5%;
    transform: translateX(-50%); /* Center horizontally */
    background-color: rgba(113, 113, 113, 1);
    color: white;
    padding: 10px;
    border-radius: 5px;
    font-size: 14px;
    display: none; /* Initially hidden */
    transition: opacity 0.5s ease-in-out, visibility 0s 0.5s; /* Smooth fade-in/out */
}

/* Microphone effect */
#microphone:hover + #microphone-popup-div {
    display: block; /* Visible on hover */
    opacity: 0.9;
}

/* Video camera pop up div */
#video-camera-popup-div {
    position: absolute; /* Position relative to parent */
    z-index: 999; /* Ensure high stacking order */
    top: 68px;
    left: 93.5%;
    transform: translateX(-50%); /* Center horizontally */
    background-color: rgba(113, 113, 113, 1);
    color: white;
    padding: 10px;
    border-radius: 5px;
    font-size: 14px;
    display: none; /* Initially hidden */
    transition: opacity 0.5s ease-in-out, visibility 0s 0.5s; /* Smooth fade-in/out */
}

/* Video camera effects */
#video-camera:hover + #video-camera-popup-div {
    display: block; /* Visible on hover */
    opacity: 0.9;
}

/* Notification bell pop up div */
#notification-bell-popup-div {
    position: absolute; /* Position relative to parent */
    z-index: 999; /* Ensure high stacking order */
    top: 68px;
    left: 96%;
    transform: translateX(-50%); /* Center horizontally */
    background-color: rgba(113, 113, 113, 1);
    color: white;
    padding: 10px;
    border-radius: 5px;
    font-size: 14px;
    display: none; /* Initially hidden */
    transition: opacity 0.5s ease-in-out, visibility 0s 0.5s; /* Smooth fade-in/out */
}

/* Notification bell effects */
#notification-bell:hover + #notification-bell-popup-div {
    display: block; /* Visible on hover */
    opacity: 0.9;
}

/* Navbar media query for mobile screens */
@media (max-width: 768px) {
    #hamburger {
        display: none;
    }
    #microphone {
        display: none;
    }
    #form-search input, #form-search button {
        display: none;
    }
    #video-camera {
        display: none;
    }
    #user-profile-icon {
        display: none;
    }
    #magnifying-glass-link {
        display: block;
    }
    div #column-navbar {
    display: none;
    }
    #sub-navbar {
        display: none;
    }
    #sub-navbar-back-caret {
        display: none;
    }
    #sub-navbar-forward-caret {
        display: none;
    }
}

/* Mobile search navbar */
#mobile-search-navbar {
    display: none;
}

/* Mobile search microphone */
#mobile-search-microphone {
    height: 38px;
    background-color: rgba(48, 48, 48, 1);
}

/* Mobile search back icon */
#mobile-search-back-arrow {
    height: 45px;
}




/* Column navbar */
#column-navbar {
    height: 1250px;
    overflow-y: scroll;
}

/* Column navbar track */
::-webkit-scrollbar {
    width: 6px;
}

/* Column navbar track */
::-webkit-scrollbar-track {
    background-color: rgba(15, 15, 15, 1);
}

/* Column navbar thumb */
::-webkit-scrollbar-thumb {
    background-color: rgba(113, 113, 113, 1);
    border-radius: 10px;
    visibility: hidden;
}

/* Column navbar hover effect to show scrollbar thumb */
#column-navbar:hover::-webkit-scrollbar-thumb {
    visibility: visible;
}

/* Column navbar icon */
.column-navbar-icon {
    height: 35px;
    padding: 6px;
}

/* Column navbar channel icon */
.column-navbar-channel-icon {
    height: 40px;
    padding: 6px;
    border-radius: 50%;
}

/* Column navbar text */
.column-navbar-text {
    font-size: 13px;
    color: white;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

/* Column navbar link */
.link {
    text-decoration: none;
}

/* Column navbar link hover effect */
.column-navbar-link:hover {
    background-color: rgba(48, 48, 48, 1);
    border-radius: 10px;
}

/* Column navbar hr */
hr {
    width: 100%;
    border-color: rgba(48, 48, 48, 1);
}

/* Column navbar You > sub-header */
.you-text {
    font-size: 18px;
}

/* Column navbar sub-header text spacing */
#column-navbar-more-from-yinztube-text,
#column-navbar-explore-text,
#column-navbar-subscriptions-text {
    margin-right: auto;
}

/* (fake) Copy right text */
.copyright {
    color: rgb(137, 137, 137);
}
/* End of column navbar */


/* Mobile footer */

/* Show element on mobile screen only */
@media only screen and (max-width: 768px) {
    #mobile-footer {
      display: block; /* Show the element on mobile screens */
      position: fixed; /* Fix the element to the bottom of the screen */
      left: 0; /* Position the element at the left edge of the screen */
      bottom: 0; /* Position the element at the bottom edge of the screen */
      width: 100%; /* Make the element occupy the full width of the screen */
      text-align: center; /* Center the text content horizontally */
    }
}

/* Hide these elements on larger screens */
@media only screen and (min-width: 769px) {
    #cast-icon {
        display: none;
    }
    #mobile-footer {
        display: none;
    }
    #mobile-sub-navbar {
        display: none;
    }
}

/* Mobile footer links */
.mobile-footer-link {
    text-decoration: none;
}

/* Mobile footer icons */
.mobile-footer-icon {
    height: 30px;
    padding: 6px;
}

/* Mobile footer add icon */
#mobile-footer-add-icon {
    height: 40px;
    margin-top: 5px;
}

/* Mobile footer text */
.mobile-footer-text {
    font-size: 12px;
    color: white;
}

/* Mobile footer text */
.mobile-footer-border-top {
    border-top: 2px solid rgba(48, 48, 48, 1);
}

/* End of mobile footer */


/* Sub-navbar */


/* Sub-navbar icons */
.sub-navbar-icon {
    height: 40px;
}

/* Sub-navbar link */
.sub-navbar-link {
    text-decoration: none;
    border-radius: 10px;
    padding: 6px 10px 6px 10px;
    height: 35px;
    background-color: rgba(39, 39, 39, 1);
    color: white;
    font-size: 15px;
    margin: 0px 5px;
    white-space: nowrap;
}

/* Sub-navbar link effect */
.sub-navbar-link:hover {
    background-color: rgba(48, 48, 48, 1);
    color: white;
}

/* Sub-navbar back caret */
#sub-navbar-back-caret {
    visibility: hidden; /* Hide by default */
    cursor: pointer; /* Make carets clickable */
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}

/* Sub-navbar forward caret */
#sub-navbar-forward-caret {
    visibility: visible; /* Show by default */
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}

/* Sub-navbar links */
#sub-navbar-links {
    overflow-x: hidden; /* Enable horizontal scrolling */
}

/* Sub-navbar forward caret effect */
#sub-navbar-forward-caret:hover {
    background-color: rgba(39, 39, 39, 1);
    border-radius: 50%;
}

/* Sub-navbar back caret effect */
#sub-navbar-back-caret:hover {
    background-color: rgba(39, 39, 39, 1);
    border-radius: 50%;
}

/* End of sub-navbar */


/* Collapsed navbar */

/* Collapsed column navbar link */
.collapsed-column-navbar-link {
    text-decoration: none;
    color: white;
}

/* Collapsed column navbar link div hover */
.collapsed-column-navbar-link-div:hover {
    background-color: rgba(39, 39, 39, 1);
    color: white;
    border-radius: 20px;
}

/* Collapsed navbar text */
.collapsed-navbar-text {
    font-size: 10px;
}

/* End collapsed navbar */



/* Mobile sub-navbar */

@media (max-width: 768px) {
    #mobile-sub-navbar-div {
        overflow-x: hidden; /* Hide horizontal overflow */
        width: 100vw; /* Take up entire viewport width */
    }

    #mobile-sub-navbar {
        width: 300px; /* Set a fixed width for scrolling
        (This has been adjusted with Javascript) */

        overflow-x: auto; /* Enable horizontal scrolling */
        -webkit-overflow-scrolling: touch; /* Smooth touch scrolling */
    }
}

/* End of mobile sub-navbar */


/* Mobile z-index column navbar */

#mobile-z-index-column-navbar-div {
    display: none; /* Hide by default on all screens */
    background-color: rgba(39, 39, 39, 1);
    position: absolute;
    top: 0; /* Ensure it touches the top */
    left: 0; /* Position it at the left edge */
    width: 66vw; /* 75% of the viewport width */
    height: 100vh; /* Full viewport height */
    z-index: 999; /* Or any sufficiently high value to ensure it's on top */
}

@media (max-width: 768px) { /* Mobile screens (up to 768px) */
    #mobile-sub-navbar-compass:focus-within ~ #mobile-z-index-column-navbar-div {
      /* Visible when compass is clicked/focused on mobile */
      display: block; /* Or your preferred display style */
    }
}

/* End of mobile z-index column navbar */

#mobile-z-index-column-navbar-footer {
    position: fixed;
    bottom: 0;
    width: 66vw;/* Ensure it spans the entire width */
    height: 6vh; /* Adjust height as needed */
    background-color: rgba(39, 39, 39, 1);
    color: white; /* White text for visibility */
    text-align: center; /* Center the footer content */
}


