/* CSS Reset */
* {
    margin: 0;
    padding: 0;
}

/* Page background */
.background {
    background-color: rgba(15, 15, 15, 1);
}

/* Hamburger bars */
#hamburger {
    width: 45px;
    padding: 12px;
    border-radius: 50%;
}

/* Hamburger bars effect */
#hamburger:hover {
    background-color: rgba(39, 39, 39, 1);
}

/* Main logo icon */
.main-logo-icon {
    height: 35px;
}

/* Navbar search form */
.search-form {
    height: 35px;
    width: 100%;
    padding: 15px;
    background-color: rgba(19, 19, 19, 1);
    border: 2px solid rgba(48, 48, 48, 1);
    border-radius: 15px;
    /* Add color for the font */
}

/* Microphone icon */
#microphone {
    height: 37px;
    padding: 8px;
    border-radius: 50%;
    background-color: rgba(39, 39, 39, 1);
}

/* Microphone icon effect */
#microphone:hover {
    background-color: rgba(48, 48, 48, 1);
}

/* Magnifying glass link */
#magnifying-glass-link {
    display: none;
}

/* Video camera effect */
#video-camera:hover {
    background-color: rgba(48, 48, 48, 1);
}

/* Navbar icons */
.nav-icon {
    height: 40px;
    padding: 6px;
    border-radius: 50%;
}

/* Notification bell */
#notification-bell {
    margin-left: 10px;
}

/* Notification bell hover */
#notification-bell:hover {
    background-color: rgba(48, 48, 48, 1);
}

/* User profile icon */
#user-profile-icon {
    margin-left: 10px;
}

/* Navbar media query for mobile screens */
@media (max-width: 768px) {
    #hamburger {
        display: none;
    }
    #microphone {
        display: none;
    }
    #form-search input, #form-search button {
        display: none;
    }
    #user-profile-icon {
        display: none;
    }
    #magnifying-glass-link {
        display: block;
    }
}

/* Mobile search navbar */
#mobile-search-navbar {
    display: none;
}

/* Mobile search microphone */
#mobile-search-microphone {
    height: 40px;
    background-color: rgba(48, 48, 48, 1);
}

/* Mobile form input box */
#search-form {
    height: 40px;
    width: 100%;
}

/* Mobile search back icon */
#mobile-search-back-arrow {
    height: 40px;
}

/* Column navbar icon */
.column-navbar-icon {
    height: 40px;
    padding: 6px;
}

/* Column navbar link */
.column-navbar-link {
    text-decoration: none;
}
